# Pandas Series

In [2]:
import pandas as pd
import numpy as np

### 0. The Pandas Series Object

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

### 1. Pandas Random Serie

In [7]:
pd.Series(np.random.randn(5))

0    0.779442
1   -1.441213
2    0.297467
3    0.592900
4    0.050278
dtype: float64

### 2. Pandas Custom index

In [8]:
pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

a   -0.692386
b   -0.686661
c    1.938277
d    0.275377
e    1.285371
dtype: float64

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
index=[2, 5, 3, 'd'])
data

2    0.25
5    0.50
3    0.75
d    1.00
dtype: float64

### 3. Pandas Series From Dict

In [10]:
d = {'A': 10, 'B': 20, 'C': 30}
pd.Series(d)

A    10
B    20
C    30
dtype: int64

#### a. Opcion 1

In [11]:
population_dict = { 'California': 38332521,
                    'Texas': 26448193,
                    'New York': 19651127,
                    'Florida': 19552860,
                    'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

#### b. Opcion 2

In [12]:
population_index = ['California','Texas','New York','Florida','Illinois']
population_data = [ 38332521,26448193, 19651127, 19552860, 12882135]

population = pd.Series(population_data,index=population_index)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [13]:
population['California']

38332521

In [14]:
population['California':'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

#### c. Other options

In [15]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [16]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [17]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [21]:

frame = { 'USER_ID': population.index.values, 'SCORE':population.values} 
result = pd.DataFrame(frame) 
result.to_csv("Submission_20190803_v2.csv",index=False)