# Pandas Series

In [3]:
import pandas as pd
import numpy as np

### 1. Panel

- A Panel is a data structure that handles 3D data.

In [12]:
data43=pd.DataFrame(np.random.randn(4, 3))
data42=pd.DataFrame(np.random.randn(4, 2))
data43

          0         1         2
0  1.182083  0.454910 -0.189416
1  0.084874  0.588204  0.280417
2  0.863271 -2.069136 -0.160075
3  0.647558 -1.130863  1.261391

In [13]:
d = {'Item1':data43, 'Item2':data42 }
pd.Panel(d)

C:\Users\phaddad\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 3 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2

TypeError: 'module' object is not subscriptable