# Pandas DataFrame

In [1]:
import pandas as pd
import numpy as np

### 1. Pandas Dataframe

In [2]:
d = {'c1': pd.Series(['A', 'B', 'C']),
'c2': pd.Series([1, 2., 3., 4.])}
df = pd.DataFrame(d)
df

    c1   c2
0    A  1.0
1    B  2.0
2    C  3.0
3  NaN  4.0

In [3]:
my_own_dataset = pd.DataFrame({'Col1': range(5), 'Col2':[1.0]*5, 'Col3': 1.0, 'Col4': 'Hello World!'})
my_own_dataset

   Col1  Col2  Col3          Col4
0     0   1.0   1.0  Hello World!
1     1   1.0   1.0  Hello World!
2     2   1.0   1.0  Hello World!
3     3   1.0   1.0  Hello World!
4     4   1.0   1.0  Hello World!

In [6]:
my_wrong_own_dataset = pd.DataFrame({'Col1': range(5),'Col2': 'string', 'Col3': range(5)})
my_wrong_own_dataset

   Col1    Col2  Col3
0     0  string     0
1     1  string     1
2     2  string     2
3     3  string     3
4     4  string     4

In [7]:
my_own_dataset.dtypes

Col1      int64
Col2    float64
Col3    float64
Col4     object
dtype: object

### 2. Dataframe from dict

In [4]:
d = {'c1': ['A', 'B', 'C', 'D'],
'c2': [1, 2.0, 3.0, 4.0]}
df = pd.DataFrame(d)
df

  c1   c2
0  A  1.0
1  B  2.0
2  C  3.0
3  D  4.0