In [7]:
import pandas as pd
import numpy as np

names= ['sepal_length', 'sepal_width', 'petal_length','petal_width','target']

iris = pd.read_csv('data/iris.csv',sep=',', decimal='.', header=None,names=names)

In [8]:
iris.head(2)

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [9]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width     target
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [10]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target'], dtype='object')

In [12]:
Y = iris['target']
Y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: target, dtype: object

In [15]:
X = iris[['sepal_length', 'sepal_width']]
X.head()

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [18]:
print (type(X.shape),X.shape)
print (type(Y.shape),Y.shape)

<class 'tuple'> (150, 2)
<class 'tuple'> (150,)

## Data preprocessing We are

In [20]:
mask_feature = iris['sepal_length'] > 6.0
mask_feature.head()

0    False
1    False
2    False
3    False
4    False
Name: sepal_length, dtype: bool

### Substitute the setosa target label with the New label label

In [25]:
mask_target = iris['target'] == 'setosa'
iris.loc[mask_target, 'target'] = 'New label'
iris.head()

   sepal_length  sepal_width  petal_length  petal_width     target
0           5.1          3.5           1.4          0.2  New label
1           4.9          3.0           1.4          0.2  New label
2           4.7          3.2           1.3          0.2  New label
3           4.6          3.1           1.5          0.2  New label
4           5.0          3.6           1.4          0.2  New label

In [26]:
iris['target'].unique()

array(['New label', 'versicolor', 'virginica'], dtype=object)

In [28]:
grouped_targets_mean = iris.groupby(['target']).mean()
grouped_targets_mean

            sepal_length  sepal_width  petal_length  petal_width
target
New label          5.006        3.418         1.464        0.244
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [29]:
grouped_targets_var = iris.groupby(['target']).var()
grouped_targets_var

            sepal_length  sepal_width  petal_length  petal_width
target
New label       0.124249     0.145180      0.030106     0.011494
versicolor      0.266433     0.098469      0.220816     0.039106
virginica       0.404343     0.104004      0.304588     0.075433

In [31]:
iris.sort_values(by='sepal_length').head()

    sepal_length  sepal_width  petal_length  petal_width     target
13           4.3          3.0           1.1          0.1  New label
42           4.4          3.2           1.3          0.2  New label
38           4.4          3.0           1.3          0.2  New label
8            4.4          2.9           1.4          0.2  New label
41           4.5          2.3           1.3          0.3  New label

In [32]:
iris.apply(np.count_nonzero, axis=1).head()

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [33]:
iris.apply(np.count_nonzero, axis=0)

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
target          150
dtype: int64

In [34]:
iris.applymap(lambda el:len(str(el))).head()

   sepal_length  sepal_width  petal_length  petal_width  target
0             3            3             3            3       9
1             3            3             3            3       9
2             3            3             3            3       9
3             3            3             3            3       9
4             3            3             3            3       9