# Multivariate regression using Python

In [7]:
import pandas as pd
import statsmodels.api as sm

df=pd.read_excel('http://cdn.sundog-soft.com/Udemy/DataScience/cars.xls')

### Convertir los valores de la columna modelos de texto a numeros

In [8]:
df['Model_ord']=pd.Categorical(df.Model).codes

# ref: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Categorical.html

In [19]:
df.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather,Model_ord
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1,10
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0,10
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0,10
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0,10
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1,10

### creacion de un modelo para intentar predecir el precio en función del kilometraje, el Modelo, y el número de puertas.

In [11]:
X=df[['Mileage','Model_ord','Doors']]
y=df[['Price']]

### Creacion del modelo

In [20]:
X1=sm.add_constant(X)
est=sm.OLS(y,X1).fit()
print(est.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.042
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     11.57
Date:                Fri, 08 Mar 2019   Prob (F-statistic):           1.98e-07
Time:                        16:10:36   Log-Likelihood:                -8519.1
No. Observations:                 804   AIC:                         1.705e+04
Df Residuals:                     800   BIC:                         1.706e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       3.125e+04   1809.549     17.272      0.000    2.77e+04    3.48e+04
Mileage       -0.1765      0.042     -4.227      0.000      -0.259      -0.095
Model_ord    -39.0387     39.326     -0.993      0.321    -116.234      38.157
Doors      -1652.9303    402.649     -4.105      0.000   -2443.303    -862.558
==============================================================================
Omnibus:                      206.410   Durbin-Watson:                   0.080
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              470.872
Skew:                           1.379   Prob(JB):                    5.64e-103
Kurtosis:                       5.541   Cond. No.                     1.15e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.15e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

### Resultado

 R-squared: 0.042 - El valor es muy bajo, eso no es bueno

### Se calcula la media segun la cantidad de puertas

In [21]:
print(y.groupby(df.Doors).mean())

              Price
Doors
2      23807.135520
4      20580.670749

- Se puede ver que cuantas mas puertas tiene el auto el precio es menor