# Pandas Series

In [2]:
import pandas as pd
import numpy as np

### 0. The Pandas Series Object

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [11]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [14]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
data[1:3]

1    0.50
2    0.75
dtype: float64

### 1. Pandas Random Serie

In [8]:
pd.Series(np.random.randn(5))

0   -1.335520
1    1.879169
2    0.111042
3   -0.165352
4   -0.102808
dtype: float64

### 2. Pandas Custom index

In [5]:
pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

a   -0.610274
b   -1.203134
c    1.013349
d   -1.303620
e    0.383428
dtype: float64

In [20]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
index=[2, 5, 3, 'd'])
data

2    0.25
5    0.50
3    0.75
d    1.00
dtype: float64

### 3. Pandas Series From Dict

In [6]:
d = {'A': 10, 'B': 20, 'C': 30}
pd.Series(d)

A    10
B    20
C    30
dtype: int64

#### a. Opcion 1

In [24]:
population_dict = { 'California': 38332521,
                    'Texas': 26448193,
                    'New York': 19651127,
                    'Florida': 19552860,
                    'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

#### b. Opcion 2

In [26]:
population_index = ['California','Texas','New York','Florida','Illinois']
population_data = [ 38332521,26448193, 19651127, 19552860, 12882135]

population = pd.Series(population_data,index=population_index)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [27]:
population['California']

38332521

In [29]:
population['California':'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

#### c. Other options

In [31]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [32]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [33]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object