# Pandas DataFrame

In [1]:
import pandas as pd
import numpy as np

### 1. Pandas Dataframe

In [2]:
d = {'c1': pd.Series(['A', 'B', 'C']),
'c2': pd.Series([1, 2., 3., 4.])}
df = pd.DataFrame(d)
df

    c1   c2
0    A  1.0
1    B  2.0
2    C  3.0
3  NaN  4.0

### 2. Dataframe from dict

In [4]:
d = {'c1': ['A', 'B', 'C', 'D'],
'c2': [1, 2.0, 3.0, 4.0]}
df = pd.DataFrame(d)
df

  c1   c2
0  A  1.0
1  B  2.0
2  C  3.0
3  D  4.0