# Pandas - Combining Datasets

In [1]:
import pandas as pd
import numpy as np

### 1. Concat and Append

In [3]:
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
        for c in cols}
    return pd.DataFrame(data, ind)
    
# example DataFrame
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

## Concatenation of NumPy Arrays

In [4]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]
np.concatenate([x, y, z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
x = [[1, 2],
[3, 4]]
np.concatenate([x, x], axis=1)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

## Simple Concatenation with pd.concat

In [8]:
# Signature in Pandas v0.18
#pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
#keys=None, levels=None, names=None, verify_integrity=False,copy=True)

In [9]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [10]:
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
print(df1); print(df2); print(pd.concat([df1, df2]))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [29]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])
print(df3); 
print("\n");
print(df4); 
print("\n");
print(pd.concat([df3, df4], axis=1))

    A   B
0  A0  B0
1  A1  B1


    C   D
0  C0  D0
1  C1  D1


    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

## Duplicate indices

In [20]:
x = make_df('AB', [0, 1])
y = make_df('AB', [2, 3])

In [30]:
y.index = x.index # make duplicate indices!
print(x); 
print("\n");
print(y); 
print("\n");
print(pd.concat([x, y]))

    A   B
0  A0  B0
1  A1  B1


    A   B
0  A2  B2
1  A3  B3


    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

In [31]:
print(x); 
print("\n");
print(y); 
print("\n");
print(pd.concat([x, y], ignore_index=True))

    A   B
0  A0  B0
1  A1  B1


    A   B
0  A2  B2
1  A3  B3


    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

### Adding MultiIndex keys.

In [32]:
print(x); 
print("\n");
print(y); 
print("\n");
print(pd.concat([x, y], keys=['x', 'y']))

    A   B
0  A0  B0
1  A1  B1


    A   B
0  A2  B2
1  A3  B3


      A   B
x 0  A0  B0
  1  A1  B1
y 0  A2  B2
  1  A3  B3

## Concatenation with joins

In [33]:
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])
print(df5) 
print("\n");
print(df6)
print("\n");
print(pd.concat([df5, df6]))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2


    B   C   D
3  B3  C3  D3
4  B4  C4  D4


     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

D:\ProgramData\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  import sys

In [34]:
print(df5)
print("\n")
print(df6)
print("\n")
print(pd.concat([df5, df6], join='inner'))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2


    B   C   D
3  B3  C3  D3
4  B4  C4  D4


    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [35]:
print(df5)
print("\n")
print(df6)
print("\n")
print(pd.concat([df5, df6], join_axes=[df5.columns]))

    A   B   C
1  A1  B1  C1
2  A2  B2  C2


    B   C   D
3  B3  C3  D3
4  B4  C4  D4


     A   B   C
1   A1  B1  C1
2   A2  B2  C2
3  NaN  B3  C3
4  NaN  B4  C4

## The append() method

In [36]:
print(df1) 
print("\n")
print(df2) 
print("\n")
print(df1.append(df2))

    A   B
1  A1  B1
2  A2  B2


    A   B
3  A3  B3
4  A4  B4


    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

# Combining Datasets: Merge and Join

In [38]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})

df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
'hire_date': [2004, 2008, 2012, 2014]})

print(df1) 
print("\n") 
print(df2)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR


  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [39]:
df3 = pd.merge(df1, df2)
df3

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

## Many-to-one joins

In [40]:
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
'supervisor': ['Carly', 'Guido', 'Steve']})
print(df3)
print("\n") 
print(df4) 
print("\n") 
print(pd.merge(df3, df4))

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014


         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve


  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve

## Many-to-many joins

In [41]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
'Engineering', 'Engineering', 'HR', 'HR'],'skills': ['math', 'spreadsheets', 'coding', 'linux',
'spreadsheets', 'organization']})

print(df1) 
print("\n") 
print(df5) 
print("\n") 
print(pd.merge(df1, df5))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR


         group        skills
0   Accounting          math
1   Accounting  spreadsheets
2  Engineering        coding
3  Engineering         linux
4           HR  spreadsheets
5           HR  organization


  employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

## Specification of the Merge Key

In [42]:
print(df1) 
print("\n") 
print(df2) 
print("\n") 
print(pd.merge(df1, df2, on='employee'))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR


  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014


  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

## The left_on and right_on keywords

In [45]:
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
'salary': [70000, 80000, 120000, 90000]})

print(df1)
print("\n") 
print(df3)
print("\n") 
print(pd.merge(df1, df3, left_on="employee", right_on="name"))

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR


   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000


  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

In [46]:
pd.merge(df1, df3, left_on="employee", right_on="name").drop('name', axis=1)

  employee        group  salary
0      Bob   Accounting   70000
1     Jake  Engineering   80000
2     Lisa  Engineering  120000
3      Sue           HR   90000

## The left_index and right_index keywords

In [47]:
df1a = df1.set_index('employee')
df2a = df2.set_index('employee')
print(df1a) 
print("\n") 
print(df2a)

                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR


          hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014

In [48]:
print(df1a)
print("\n")
print(df2a)
print("\n")
print(pd.merge(df1a, df2a, left_index=True, right_index=True))

                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR


          hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014


                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014

In [49]:
print(df1a)
print("\n")
print(df2a)
print("\n")
print(df1a.join(df2a))

                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR


          hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014


                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014

In [50]:
print(df1a) 
print("\n")
print(df3)
print("\n")
print(pd.merge(df1a, df3, left_index=True, right_on='name'))

                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR


   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000


         group  name  salary
0   Accounting   Bob   70000
1  Engineering  Jake   80000
2  Engineering  Lisa  120000
3           HR   Sue   90000

## Specifying Set Arithmetic for Joins

In [51]:
df6 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
'food': ['fish', 'beans', 'bread']},
columns=['name', 'food'])
df7 = pd.DataFrame({'name': ['Mary', 'Joseph'],
'drink': ['wine', 'beer']},
columns=['name', 'drink'])

print(df6) 
print("\n")
print(df7) 
print("\n")
print(pd.merge(df6, df7))

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread


     name drink
0    Mary  wine
1  Joseph  beer


   name   food drink
0  Mary  bread  wine

In [52]:
pd.merge(df6, df7, how='inner')

   name   food drink
0  Mary  bread  wine

In [53]:
print(df6) 
print("\n")
print(df7) 
print("\n")
print(pd.merge(df6, df7, how='outer'))

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread


     name drink
0    Mary  wine
1  Joseph  beer


     name   food drink
0   Peter   fish   NaN
1    Paul  beans   NaN
2    Mary  bread  wine
3  Joseph    NaN  beer

In [54]:
print(df6) 
print("\n")
print(df7) 
print("\n")
print(pd.merge(df6, df7, how='left'))

    name   food
0  Peter   fish
1   Paul  beans
2   Mary  bread


     name drink
0    Mary  wine
1  Joseph  beer


    name   food drink
0  Peter   fish   NaN
1   Paul  beans   NaN
2   Mary  bread  wine

## Overlapping Column Names: The suffixes Keyword

In [55]:
df8 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
'rank': [1, 2, 3, 4]})

In [56]:
df9 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
'rank': [3, 1, 4, 2]})
print(df8) 
print("\n")
print(df9)
print("\n")
print(pd.merge(df8, df9, on="name"))

   name  rank
0   Bob     1
1  Jake     2
2  Lisa     3
3   Sue     4


   name  rank
0   Bob     3
1  Jake     1
2  Lisa     4
3   Sue     2


   name  rank_x  rank_y
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2

In [57]:
print(df8) 
print("\n")
print(df9)
print("\n")
print(pd.merge(df8, df9, on="name", suffixes=["_L", "_R"]))

   name  rank
0   Bob     1
1  Jake     2
2  Lisa     3
3   Sue     4


   name  rank
0   Bob     3
1  Jake     1
2  Lisa     4
3   Sue     2


   name  rank_L  rank_R
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2